#file_explorer {
    float: right; 
    width: 220px;
    border: 1px solid #CCCCCC;
    height: 500px;
    overflow: auto;
}

#file_explorer ul ul li a {
    display: block;
    padding: 3px 10px;
}

#file_explorer ul ul li a:hover {
    background-color: #E7EFEF;
}

#file_explorer a {
    text-decoration: none;
}

.filepath {
    font-size: 11px;
    padding: 0 5px;
    color: #000000;
}

#file_explorer .title {
    background-color: #F4F4F4;
    padding: 5px 10px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    font-weight: bold;
}

#file_explorer .selected {
    background-color: #E7EFEF;
}

.CodeMirror-scroll {
    height: 500px !important; 
}
