html, body {
    background: #212C35;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

a {
    color: #21759B;
}

h1 {
    font-size: 20px;
    color: #212C35;
    padding: 4px 0px 6px 38px;
    margin-bottom: 10px;
}

p {
     margin-bottom:  15px;
}

strong {
    font-weight: bold;
}

header {
    margin-bottom: 10px;
}

#container {
    margin: 20px auto 0;
    width: 860px;
}

#content_wrapper {
    background: #EEEEEE;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 0px 25px #111111;
}

.box {
    background: #F7F7F7;
    border: 1px solid #DDDDDD;
    padding: 10px;
    margin-bottom: 15px;
    color: #666666;
}

.scrollbox {
    background: #FFFFFF;
    padding: 5px;
    border: 1px solid #CCCCCC;
    overflow: auto;
    height: 300px;
    color: #000000;
    font-size: 12px;
}

.scrollbox h2 {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#left_column {
    width: 569px;
    float: left;
    background: #FFFFFF;
    border-right: 1px solid #CCCCCC;
    padding: 15px 30px 15px 20px;
    min-height: 400px;
}

#right_column {
    width: 238px;
    float: right;
}

#right_column ul {
    margin: 5px;
}

#right_column ul li {
    padding: 0px 10px;
    height: 50px;
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    font-weight: bold;
    line-height: 50px;
    font-size: 14px;
}

#right_column .step {
    color: #21759B;
    font-weight: bold;
    font-size: 25px;
    margin-right: 5px;
    vertical-align: middle;
    font-style: italic;
}

#right_column li.current {
    color: #FFFFFF;
    background: #21759B;
}

#right_column .current .step {
    color: #FFFFFF;
}

.clear {
    height: 0px;
    line-height: 0px;
    clear: both;
}

.align_left {
    text-align: left;
}

.align_right {
    text-align: right;
}

.align_center {
    text-align: center;
}

input {
    vertical-align: middle;
}

table th {
    font-weight: bold;
    color: #000000;
}

#license {
    background: url('../images/license.png') no-repeat;
}

#installation {
    background: url('../images/installation.png') no-repeat;
}

#configuration {
    background: url('../images/configuration.png') no-repeat;
}

#finished {
    background: url('../images/finished.png') no-repeat;
}

/* NOTICES */
p.success {
    padding: 10px 10px 10px 33px;
    margin-bottom: 15px;
    border: 1px solid #BBDF8D;
    color: #555555;
    margin-bottom: 10px;
}

p.warning, p.error {
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #F8ACAC;
    color: #555555;
    background: #FFDFE0;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

p.attention {
    padding: 10px 10px 10px 33px;
    margin-bottom: 15px;
    border: 1px solid #F2DD8C;
    color: #555555;
    margin-bottom: 10px;
}
/* END NOTICES */

span.bad {
    color: #FF0000;
}

span.good {
    color: green;
}


.form div {
    margin-bottom: 5px;
}

.form label {
    display: inline-block;
    width: 120px;
    vertical-align: middle;
}

.form input {
    border: 1px solid #DDDDDD;
    padding: 5px;
    width: 200px;
}

.required {
    color: red;
}

td img {
    vertical-align: middle;
}

.border {
    border: 1px solid #DDDDDD;
    box-shadow: 3px 3px 10px #DDDDDD;
}

.padding {
    padding: 5px;
}